<section class="bg-dark row">
    <section class="col-md-3 ms-4 mb-3 text-center">
        <h1 class="border dynamic-header">
            The Blog
        </h1>
    </section>
</section>

<main class="container-fluid mt-3">

    <section class="row justify-content-center text-start">

        <section class="col-md-10 justify-content-center text-start align-items-center">

            <section class="row row-cols-1 row-cols-lg-1 g-4 m-4">
                {{#each posts as |post|}}

                <section class="card mt-3 mb-3 px-0">
                    <section class="card-header text-start">
                        <h4 class="d-inline">{{post.post_title}}</h4>
                        <h6 class="d-inline float-end">Posted by {{user.username}} on
                            {{format_date post.date_created}}</h6>
                    </section>
                    <section class="card-body text-start">
                        <p>{{post.post_content}}</p>
                        <a href="/post/{{post.id}}" class="stretched-link"></a>
                    </section>
                </section>
                {{/each}}

            </section>

        </section>

    </section>

</main>